{% extends 'base.html' %} {% load bootstrap4 %}     
 {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
     
       
          <div class="card ">
            <h3><b><u>Post on your timeline</u></b></h3>
            <div class="card-body">
                <form action="{% url 'newproject' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %} {% bootstrap_form form %}
            <button>Upload</button></form>
              
            
            </div>
          </div>
        
      
    
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<style>
  body{
    background: url(https://5.imimg.com/data5/OG/WI/QO/SELLER-2558656/551b8d4383ae236a49a5a604b3676cff-500x500.jpg)no-repeat;
    background-position: center;
    background-size: cover;
  }
</style>
 {% endblock  %}