{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}
 

 <div class="container" style="width: 50%;">
     <div class="row">
        <div class="card-group">
            <div class="card">
                <h5 class="card-title">{{user.username}}'s Profile</h5>
                {% if user.Profile.image %}
                <img src="{{user.Profile.image}}" class="card-img-top" alt="...">
                {% else %}
                <img style="width: 50px;" src="" alt="profile">
                {% endif %}
              
              <div class="card-body">
                <p class="card-text">Username: {{user.username}}</p>
                <h4>{% if user.profile.bio %}</h4>
                <p>Bio: {{user.profile.bio}}</p>
                {% else %}
                <p>No Bio here...</p>
                {% endif %}
                <a href="#">Update profile</a>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            
          </div>
         
     </div>

     
 </div>
{% endblock %}