{% extends 'base.html' %} {% load bootstrap4 %}
<br><br><br>
<hr><hr>
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card">
                <h1>{{projects.title}}</h1>
              <img src="{{projects.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{projects.user}} </h5>
                <a href="{{projects.links}}">{{projects.links}}</a>
                <p class="card-text">{{projects.description}}</p>
              </div>
            </div> <br><br>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'comment' projects.id %}" class="btn btn-outline-primary">Reviews</a>
                    <p>Reviews for {{projects.title}}</p>
                    {% for com in comments %}
                    <p>{{com.text}}</p>
                    {% empty %}
                    <p>No reviews </p>
                    {% endfor %}
                </div>
                <div class="col-sm-6">
                    <h5>ratings</h5>
                    <p>Design: {{design}}%</p>
                    <p>Content:{{content}}%</p>
                    <p>Usability:{{usability}}%</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6"> <form action="">

            <h3>Usability</h3>

            <input id="usability" type="radio" name="usability" value="1">1
            <input id="usability" type="radio" name="usability" value="2">2
            <input id="usability" type="radio" name="usability" value="3">3
            <input id="usability" type="radio" name="usability" value="4">4
            <input id="usability" type="radio" name="usability" value="5">5
            <input id="usability" type="radio" name="usability" value="6">6
            <input id="usability" type="radio" name="usability" value="7">7
            <input id="usability" type="radio" name="usability" value="8">8
            <input id="usability" type="radio" name="usability" value="9">9
            <input id="usability" type="radio" name="usability" value="10">10 <br><br>

            <h3>Design</h3>

            <input id="design" type="radio" name="design" value="1">1
            <input id="design" type="radio" name="design" value="2">2
            <input id="design" type="radio" name="design" value="3">3
            <input id="design" type="radio" name="design" value="4">4
            <input id="design" type="radio" name="design" value="5">5
            <input id="design" type="radio" name="design" value="6">6
            <input id="design" type="radio" name="design" value="7">7
            <input id="design" type="radio" name="design" value="8">8
            <input id="design" type="radio" name="design" value="9">9
            <input id="design" type="radio" name="design" value="10">10 <br><br>

            <h3>Content</h3>

            <input id="content" type="radio" name="content" value="1">1
            <input id="content" type="radio" name="content" value="2">2
            <input id="content" type="radio" name="content" value="3">3
            <input id="content" type="radio" name="content" value="4">4
            <input id="content" type="radio" name="content" value="5">5
            <input id="content" type="radio" name="content" value="6">6
            <input id="content" type="radio" name="content" value="7">7
            <input id="content" type="radio" name="content" value="8">8
            <input id="content" type="radio" name="content" value="9">9
            <input id="content" type="radio" name="content" value="10">10 <br><br>

            <input type="submit" class="btn btn-outline-primary" value="My Rates">{% for mes in messages %}
            <h3>{{mes}}</h3>
            {% endfor %}

        </form></div>
        <div class="col-sm-3"></div>
    </div>
</div>

<style>

    body{
        background-color: darksalmon;
    }
</style>

{% endblock %}