{%extends "base.html"%} 

{% load bootstrap4 %}


{% block content %}
<h1 class="text-center text-dark">Welcome to Awards Site</h1>
<br><br>


<!-- Top content -->

<div class="container" style="padding: 0 10rem;">
    <center>
<div class="row g-4">
              
              
{% for pro in all_my_projects%}
<div class="card" style="width: 25rem;" >
    <img src="{{pro.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{pro.title}}</h5>
      <a href="#"></a>
      <p class="card-text">{{pro.description}}</p>
      <a href="{{pro.links}}" class="btn btn-primary">View Site</a><br>
      <hr>
      <a href="{% url 'rates' pro.id%}" class="btn btn-success">Reviews</a>
      <a href="{% url 'comment' pro.id %}" class="btn btn-success" style="padding: 5px;">comment</a>
      <p>Posted By: <span class="text-danger">{{pro.user}}</span></p>
    </div>
    
  </div>
  
  {% endfor %} 
             
            </div>
        </center>
    
    
</div>

{% endblock %}
